extends layout

block content
  h1(style='text-align:center;') Log in
  div#container-home.form-group
   form(action="", method="post") 

    label(for="name") USERNAME:
    input#username(type="text", name="username", required, placeholder='John@11')
    br

    button.btn.btn-primary(type="submit") submit
    