extends layout

block content
  h1= title
  div#container-home
   div.welcome
    p.speech 
    p how do you plan to get in 
    button(type="submit") 
     a(href="/users/log-in") Log-in
    button(type="submit") 
     a(href="/chat/username")  Guest